*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Main{

background-color: #2c3e50;
padding: 1.3% 0px;
overflow: auto;
text-align: center;
}

#Main .left{
float: left;
width: 25%;
color: white;
margin-left: 3%;
height: 100%;
}
.left h1{
    height: 100%;
    font-size: 1.6rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 3%;
}

.right{
float: right;
width: 40%;
text-align: center;
height: 100%;
padding-top: 0.2%;
}


a{
    text-decoration: none;
    font-size: 19px;
    margin-left: 6%;
    color: white;
    height: 100%;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
    
 
    
#Smaylic{
    text-align: center;
    padding: 35px;
    margin-right: 0.9rem;
    background-color: #1ABC9C;
    height: 90vh;
}
#Smaylic  img{
   width: 17%;
   margin-bottom: 30px;
   
}
#Smaylic h1{
    font-size: 60px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   color: white;
}

#Smaylic .startborder .instartborder{
margin-left:42%;
margin-top: 20px;
color: white;
}



#Smaylic .star_logo{
    width: 4.5%;
    float: left;
}
    
   
    
#Smaylic .star_logo svg{
    width: 100%;
    float: left;
    color: #fff;
}

    
   
    

#Smaylic ._border{
    border-bottom: 4px solid rgb(249, 248, 248);
    width: 13%;
    float: left;
    background-color:#fff
}
    

    

#Smaylic  .h3edit{
font-size: 24px;
text-align: center;
margin-top: 70px;
margin-left: 5px;
color: white;
}

#Pieces{
    text-align: center;
    width: 100%;
    padding: 80px;
}



#Pieces .startborder .instartborder{
    margin-left:40.2%;
    margin-top: 40px;
    color: #2c3e50;
}
#Pieces  h2{
    letter-spacing: 0.1rem;
    font-size: 46PX;
    color: #2c3e50;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


#Pieces .star_logo{
    width: 4.5%;
    float: left;
}
    
   
    
#Pieces .star_logo svg{
    width: 100%;
    float: left;
    color: #2c3e50;
}
    
#Pieces ._border{
       border-bottom: 4px solid black;
       width: 14%;
       float: left;
       background-color:#fff
   }
   

.servicebox{
      width: 100%;
      height: 100vh;
      overflow: auto;
}
.servicebox  .box img{
       width: 31%;
       float: left;
       margin-top:40px;
       margin-left: 28px;
       border-radius: 7px;
       height: 40vh;
   }
      
     


#About .startborder .instartborder{
   margin-left:40.2%;
   margin-top: 40px;
   color: #2c3e50;
}
#About  h2{
   letter-spacing: 0.1rem;
   font-size: 46PX;
   color:white;
   text-align: center;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#About{
   background-color: #1ABC9C;
   height: 75vh;
   }
   #About .bottom{
   display: flex;
   width: 100%;
   margin-bottom: 3rem;

   }
   #About .bottom .lefth{
   width: 38%;
   margin-left: auto;
   padding-top: 1rem;
   }
   #About .bottom .right{
   width: 30%;
   margin-right:auto;
   padding-top: 1rem;
   }
   #About .bottom .lefth p{
   font-size: 1.3rem;
   color: #fff;
   width: 70%;
   text-align: left;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   }
   #About .bottom .right p{
   font-size: 1.3rem;
   color: #fff;
   width: 100%;
   text-align: left;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#About .star_logo{
   width: 4.5%;
   float: left;
}
   
  
   
#About .star_logo svg{
   width: 100%;
   float: left;
   color:white;
}

   
  
   

#About ._border{
   border-bottom: 4px solid rgb(255, 255, 255);
   width: 14%;
   float: left;
   background-color:#fff
   
}
#About  p{
 width: 43%;
   text-align: center;
}
.left{
   width: 40%;
   float: left;
   margin-left: 30px;
}
.buttonedit{
   text-align: center;
 
   
   
}

.buttonedit  button{
border: 20px solid #fff;
  border-radius: 6px ;
  font-size: 20px;

}
 
  

 
#Contact .startborder .instartborder{
margin-left:40.2%;
margin-top: 40px;
color: #2c3e50;
}
#Contact  h2{
letter-spacing: 0.1rem;
font-size: 46PX;
color:black;
text-align: center;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#Contact{
background-color: #fff;
height: 75vh;
}

#Contact .star_logo{
   width: 4.5%;
   float: left;
}
#Contact .star_logo svg{
   width: 100%;
   float: left;
   color:#2c3e50;
}

#Contact ._border{
   border-bottom: 4px solid rgb(15, 11, 11);
   width: 14%;
   float: left;
}

input[type=text], select, textarea {
   width: 100%; 
   padding: 12px; 
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical 
 }
 input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 input[type=submit]:hover {
   background-color: #b8fabc;
 
 }
#Contact .container {
   border-radius: 5px;
   background-color: #fff;
   padding: 50px;
 }

.container{
   text-align: center;
}
#End{
   background-color: #2c3e50;
   padding: 5% 0px;
   overflow: auto;
   text-align: center;
}
#End  .left{
   font-size: 20px;
   color: white;
 padding-right: 50px;
}
 .left   p{
     margin-top: 15px;
 }

#End  .center{
  float: left;
font-size: 20px;
color: #fff;
margin-right: 5rem;
}
#End .right{
   float: left;
   font-size: 20px;
   color: #fff;
   width: 30%;
  
}
#Copyright{
   background-color: #1a252f;
   padding: 2% 0px;
   overflow: auto;
   text-align: center;
   overflow: auto;
}
#Copyright  p{
   color: #fff;
}
.right a{
   text-decoration:underline;
   color: #1ABC9C;
   margin-left: 8px;
}
.right  p{
   margin-top: 15px;
}
        
       
       

    

    
        
       
        
    

       
      

  

    
    
    
    
        

    
        
        
       
        
       
        
    
   
       
      
        
     
     
     
     
    

       
   



        
        


        
